
SSCheckBoxViewDemo.xcodeproj/project.xcworkspace/xcshareddata/SSCheckBoxViewDemo.xccheckout

SSCheckBoxViewDemo.xcodeproj/project.xcworkspace/xcuserdata/ferran.xcuserdatad/UserInterfaceState.xcuserstate

SSCheckBoxViewDemo.xcodeproj/xcuserdata/ferran.xcuserdatad/xcschemes/SSCheckBoxViewDemo.xcscheme

SSCheckBoxViewDemo.xcodeproj/xcuserdata/ferran.xcuserdatad/xcschemes/xcschememanagement.plist
